@import "../../styles/color";

.customPasswordField {
  .customPasswordField--FormControl {
    width: 100%;
    .customPasswordField--FormControl--OutlinedInput {
      border-radius: 15px;
      background-color: $sugarCane;
      font-family: DM Sans Regular;
      height: 50px;
      &:hover {
        border: 3px solid $hoverColor;
      }
      .customPasswordField--FormControl--OutlinedInput--Visibility {
        color: $celeste;
      }
    }
  }
}
