@import "../../styles/color";

.mainLayout {
  position: relative;
  background-color: $blueWhale;
  height: 100vh;
  .mainLayout--Controler {
    position: absolute;
    bottom: 143px;
    height: 50px;
    width: 15px;
    border-radius: 0 10px 10px 0;
    background-color: $blueWhale;
    color: white;
    .mainLayout--OpenClose--Icon {
      fill: $veryLightShadeOfGray;
    }
    &:hover {
      background-color: $blueWhale;
    }
  }
  .mainLayout--Open {
    @extend .mainLayout--Controler;
    left: 250px;
  }
  .mainLayout--Close {
    @extend .mainLayout--Controler;
    left: 0;
  }
}
