@import "../../styles/color";

.profile--NavOpen {
  margin-top: 100px;
  margin-left: 8%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 82vh;
  margin-bottom: 100px;
}

.profile--NavClose {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 96vh;
  margin-bottom: 100px;
}

.profile--Top {
  display: flex;
  margin-right: 8%;
  .profile--Top--Right {
    margin-left: auto;
  }
}

.profile--NavOpen::-webkit-scrollbar {
  width: 10px;
  background-color: #f6f6f6;
}

.profile--NavOpen::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px #f6f6f6;
  //  border-radius: 10px;
}

.profile--NavOpen::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px $blueWhale;
  background-color: $blueWhale;
}

.profile--NavClose::-webkit-scrollbar {
  width: 10px;
  background-color: #f6f6f6;
}

.profile--NavClose::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px #f6f6f6;
  //  border-radius: 10px;
}

.profile--NavClose::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px $blueWhale;
  background-color: $blueWhale;
}
