$white: #fff;
$shadeOfBlue: #3f51b5;
$blueWhale: #023246;
$veryLightShadeOfGray: #f6f6f6;
$sugarCane: #e9e9e8;
$lemongrass: #919190;
$jellyBean: #287194;
$celeste: #d4d4ce;
$gray57: #919191;
$hoverColor: #c4dde9;
$chefchaouenBlue: #a3d1e7;
$azure: #eef0f0;
$whiteSmoke: #f6f6f6;
$black: black;
$blueShade: #164254;
$saltpan: #e6e7e4;
