@import "../../styles/color";

.forgotPasswordForm {
  .forgotPasswordForm--Paper--Back {
    border-radius: 10px;
    border: 1px solid $gray57;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    .forgotPasswordForm--Paper--Back--ArrorBackIcon {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  .forgotPasswordForm--Paper--InstructionsDiv {
    margin-top: 20px;
    .forgotPasswordForm--Paper--Instructions {
      margin: 0;
      font-family: DM Sans Regular;
      font-size: 18px;
      color: $lemongrass;
    }
  }

  .forgotPasswordForm--Paper--Divider {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .forgotPasswordForm--Paper--FormControlDiv {
    margin-top: 20px;
    margin-bottom: 20px;
    .forgotPasswordForm--Paper--FormControl {
      width: 100%;
    }
  }
}
