@import "../color";

.form--TextField div {
  border-radius: 15px;
  background-color: $sugarCane;
  font-family: DM Sans Regular;
  border: 3px solid inherit;
  height: 50px;
  .MuiInputBase-input {
    color: $lemongrass;
    margin-left: 10px;
  }
  &:hover {
    border: 3px solid $hoverColor;
  }
  &::before {
    border: none;
  }
  &::after {
    border: none;
  }
}

.form--TextField .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none;
}
