.userProfile--LocationSection--TextFiled {
  width: 450px;
}
.userProfile--LocationSection--TextFiled label {
  color: $veryLightShadeOfGray;
  font-family: DM Sans Regular;
  margin-bottom: 8px;
}

.userProfile--LocationSection--TextFiled .MuiInput-underline:before {
  border-bottom: 2px solid #d3d4ce;
}
.userProfile--LocationSection--TextFiled .MuiInput-underline:after {
  border-bottom: 2px solid #d3d4ce;
}

.userProfile--LocationSection--TextFiled
  .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 2px solid #d3d4ce;
}

.userProfile--LocationSection--TextFiled .MuiInputBase-multiline {
  padding: 8px 0 7px;
}
.userProfile--LocationSection--TextFiled .MuiInputBase-input {
  color: #d3d4ce;
  padding-bottom: 8px;
  font-family: DM Sans Regular;
}
