@import "../../styles/color";
@import "../../styles/custom/multilineTextField";

.userProfile {
  .userProfile--PageTitle {
    .userProfile--PageTitle--Title {
      font-family: Benzin Extra Bold;
      font-size: 50px;
      letter-spacing: 2px;
      display: inline-block;
      transform: scaley(1.3);
      padding-bottom: 10px;
    }
  }
  .userProfile--PageDescription {
    .userProfile--PageDescription--Description {
      margin: 0;
      font-size: 18px;
    }
  }
  .userProfile--AvatarSection {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .userProfile--LocationSection {
    position: absolute;
    bottom: 0;
  }
  .userProfile--LocationSection--Add {
    margin-bottom: 30px;
    .userProfile--LocationSection--Add--Location {
      font-size: 25px;
      font-family: DM Sans Bold;
    }
  }
}
